# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/myProj_RV/ref_E203v2_core/ref_E203v2_core.cache
/myProj_RV/ref_E203v2_core/ref_E203v2_core.hw
/ref_E203
/ref_TinyRV
/myProj_RV/ref_TinyRV/ref_TinyRV.cache
/myProj_RV/ref_TinyRV/ref_TinyRV.hw
