/myProj_RV/ref_E203v2_core/ref_E203v2_core.cache
/myProj_RV/ref_E203v2_core/ref_E203v2_core.hw
/myProj_RV/ref_TinyRV/ref_TinyRV.cache
/myProj_RV/ref_TinyRV/ref_TinyRV.hw
/myProj_RV/ref_TinyRV/ref_TinyRV.sim
/myProj_RV/myRV_startup/myRV_startup.cache
/myProj_RV/myRV_startup/myRV_startup.hw
/myProj_RV/myRV_startup/myRV_startup.sim
/myProj_RV/1_rtl_current
/Xprojs/v0_rv32i_basic/v0_rv32i_basic.cache
/Xprojs/v0_rv32i_basic/v0_rv32i_basic.hw
/.VSCodeCounter0
ref/e203_hbirdv2-master.zip
ref/tinyriscv-master.zip
